{% extends "layout.html" %}

{% block main %}
  <div class="columns" id="new">
    <div class="column is-one-third">
      <table class="table is-hoverable" >
        <!-- <tr>
          {% for title in titles %}
          <td>{{ title }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for content in contents %}
          <td>{{ content }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for link in links %}
          <td>{{ link }}</td>
          {% endfor %}
        </tr> -->
        {% for techcrunch in techcrunchs %}
        <tr>
          <td><a href="{{ techcrunch[3] }}">{{ techcrunch[1] }}</a> <br> <br> {{ techcrunch[2] }} <br> <br>  </td>
        </tr>
        {% endfor %}
      </table>
    
  </div>

  <div class="column">
    <table class="table is-hoverable">
    {% for mashable in mashables %}
        <tr>
          <td><a href="{{ mashable[3] }}">{{ mashable[1] }}</a> <br> <br> {{ mashable[2] }} <br> <br>  </td>
        </tr>
        {% endfor %}
      </table>
  </div>
  <div class="column">
    <table class="table is-hoverable">
    {% for verge in verges %}
        <tr>
          <td><a href="{{ verge[3] }}">{{ verge[1] }}</a> <br> <br> {{ verge[2] }} <br> <br>  </td>
        </tr>
        {% endfor %}
      </table>
  </div>
  </div>

{% endblock %}