{% extends "layout.html" %}

{% block main %}
  <div class="columns" id="new">
    <div class="column is-one-third">
      <table >
        <!-- <tr>
          {% for title in titles %}
          <td>{{ title }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for content in contents %}
          <td>{{ content }}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for link in links %}
          <td>{{ link }}</td>
          {% endfor %}
        </tr> -->
        {% for post in posts %}
        <tr>
          <td><a href="{{ post[3] }}">{{ post[1] }}</a> <br> <br> {{ post[2] }} <br> <br>  </td>
        </tr>
        {% endfor %}
      </table>
    
  </div>

  <div class="column">
    <table class="table is-hoverable">
    {% for post in posts %}
        <tr>
          <td><a href="{{ post[3] }}">{{ post[1] }}</a> <br> <br> {{ post[2] }} <br> <br>  </td>
        </tr>
        {% endfor %}
      </table>
  </div>
  <div class="column">
    <table class="table is-hoverable">
    {% for post in posts %}
        <tr>
          <td><a href="{{ post[3] }}">{{ post[1] }}</a> <br> <br> {{ post[2] }} <br> <br>  </td>
        </tr>
        {% endfor %}
      </table>
  </div>
  </div>

{% endblock %}